.container {
  background-color: aqua;
  border: 2px solid black;
  border-radius: 12px;
  padding-bottom: 25px;
  max-width: 250px;
}
 h1 {
    text-align: center;
 }

 .user {
    text-align: center;
 }

 
